p {
    color: blue;
    font-size: 1em;
    font-family: calibri;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-align: justify;
}

/* commentaire */

